.tick-it-easy-footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}
.footer-content{
    display:flex;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    a{
        color:black;
        text-decoration: none;
    }
    padding: 0px 10px;
}