<div class="travel-cards">
    <div *ngFor = "let travelCard of travelCards">
        <mat-card class="tick-it-easy-card">
            <div class="card-main-info">
                <mat-card-title>{{travelCard.title}}</mat-card-title>
                <div *ngIf="travelCard.title.includes('bus')"><mat-icon>directions_bus</mat-icon></div>
                <div *ngIf="travelCard.title.includes('train')"><mat-icon>directions_railway</mat-icon></div>
                <div *ngIf="travelCard.title.includes('plane')"><mat-icon>airplanemode_active</mat-icon></div>
            </div>
            <div class="time-of-journey">Time of journey: {{travelCard.date}}</div>
            <div class="card-price">{{travelCard.price}} HUF</div>
            <div class="card-last-row">
                <div class="card-available">{{travelCard.available}} tickets available</div>
                <button class="create-icon"><mat-icon >create</mat-icon></button>
                <button class="delete-icon"><mat-icon >delete</mat-icon></button>
            </div>
        </mat-card>
    </div>
</div>