<!-- <div class="tick-it-easy-main-page">
    <div class="main-page-left-side">
        <div id="welcome" class="main-page-introduction">Hello!</div>
        <div class="main-page-introduction">We would like you to ticket easy!</div>
        <div class="main-page-description">A new way to travel around the world</div>
        <button class="main-page-start-button"mat-button [routerLink]="['purchase']">Start your journey!</button>
        <button class="main-page-start-button"mat-button (click)="login()">Login!</button>
        <button class="main-page-start-button"mat-button (click)="getUsers()">Users!</button>
    </div>
    <div class="main-page-right-side">
        <div class="main-page-image"></div>
    </div>
</div> -->

<div class="flex">
    <div class="flex flex-column justify-center ml4 mt4">
        <div class="main-page-intro mb3">
            Hello!
        </div>
        <div class="justify-center main-page-intro mb4">
            We would like you to ticket easy!
        </div>
        <div class="flex justify-center main-page-description mb3">
            A new way to travel around the world
        </div>
        <button class="main-page-start-button" mat-button>Start your journey!</button>
    </div>
    <div class="right-panel flex justify-center mt4">
        <img class="main-page-img items-center" src="../../assets/img/main-page-img.png">
    </div>
</div>