<div class="flex justify-center items-center login-page-container">
    <form class="flex flex-column login-page-form p4">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" placeholder="Ex. hello@easy.com" type="email">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="passwordFormControl" type="password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button class="login-page-submit" mat-raised-button (click)="login()">Login</button>
    </form>
</div>