// Custom css
.login-page-container {
    height: 90vh;
}

.login-page-form {
    width: 25vw;
    border-radius: .5rem;
    background-color: rgb(159, 182, 227);
}

.login-page-submit {
    max-width: 360px;
    background-color: #0000cc
}

::ng-deep input.mat-input-element {
    color: white;
}