<div class="tick-it-easy-purchase-tickets">  
    <div class="purchase-tickets-content">
        <div class="purchase-tickets-title">Purchase Tickets</div>
        <div class="travel-cards">
            <div *ngFor = "let travelCard of travelCards; let i = index">
                <mat-card id="{{'card-' + i }}" class="tick-it-easy-card">
                    <div class="card-main-info">
                        <mat-card-title>{{travelCard.title}}</mat-card-title>
                        <div *ngIf="travelCard.title.includes('bus')"><mat-icon>directions_bus</mat-icon></div>
                        <div *ngIf="travelCard.title.includes('train')"><mat-icon>directions_railway</mat-icon></div>
                        <div *ngIf="travelCard.title.includes('plane')"><mat-icon>airplanemode_active</mat-icon></div>
                    </div>
                    <div class="time-of-journey">Time of journey: {{travelCard.date}}</div>
                    <div class="card-price">{{travelCard.price}} HUF</div>
                    <div class="card-last-row">
                        <div class="card-available">{{travelCard.available}} tickets available</div>
                        <div style="display:flex;margin: 0px 5px 0px auto;" *ngIf="auth.loggedIn">
                            <button (click)="addItemToCart(travelCard,i)" class="create-icon"><mat-icon >add</mat-icon></button>
                            <button (click)="deleteItemFromCart(travelCard,i)" class="delete-icon"><mat-icon >delete</mat-icon></button>
                        </div>
                        <div style="display:flex;margin: 0px 5px 0px auto;" *ngIf="!auth.loggedIn">
                            <button (click)="notLoggedInDialog()" class="create-icon"><mat-icon >add</mat-icon></button>
                            <button (click)="notLoggedInDialog()" class="delete-icon"><mat-icon >delete</mat-icon></button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <button mat-button class="summary-button"><mat-icon class="shopping-cart-icon">shopping_cart</mat-icon><span class="selected-items">Purchase selected items</span><span class="items-summary">({{ticketCount}} ticket, {{sumPrice}} HUF total)</span></button>
    </div>
</div>
