.tick-it-easy-profile{
    margin: 80px auto;
    max-width: 1200px;
    min-height: 100%;
    color:white;
}

.profile-info{
    font-size: 40px;
    text-align:right;
    line-height: 1.4em;
    padding: 20px 0px;
}

.profile-titles{
    float:left;
    font-weight: 800;
}